<!-- <div>
</div> -->
<nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
    <div class="container-fluid"><a class="navbar-brand" href="/"><i class="fas fa-virus ml-3" id="brand-logo"></i></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link " href="../pages/covid19info.html">Covid-19 Information</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link " href="/">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="../pages/about.html">About</a></li>
            </ul>
        </div>
    </div>
</nav>